$colors: (
  primary: (
    300: #007ee6,
    700: #0c346a,
  ),
  neutral: (
    100: hsl(0, 100%, 100%),
    200: hsl(0, 0%, 95%),
    500: hsl(0, 0%, 50%),
    700: hsl(0, 0%, 25%),
    800: #333333,
    900: #030303,
  ),
);

$tags: (
  1: hsl(80, 50%, 37%),
  2: hsl(219, 87%, 24%),
  3: hsl(359, 80%, 48%),
  4: hsl(62, 100%, 69%),
);
