.nav {
  position: fixed;
  z-index: 70;
  width: 100%;
  height: 4rem;
  background-color: var(--clr-neutral-200);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto 0.5rem;

  &[data-toggle="true"] {
    position: inherit;
  }

  &__container {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 63;
    background-color: var(--clr-neutral-200);
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;

    &[data-toggle="false"] {
      // transition: opacity var(--default-duration) linear;
      animation: disappear var(--default-duration) linear;
    }

    &[data-toggle="true"] {
      z-index: 62;
      transition: opacity var(--default-duration) linear;
      opacity: 1;

      & li {
        animation-name: slide-in;
        animation-duration: var(--default-duration);
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }

    &__item {
      transition: all var(--default-duration) linear;
    }
    &__item:hover {
      opacity: 0.5;
    }
  }
}

@media screen and (min-width: 693px) {
  .nav {
    &__container {
      width: 75%;
      align-items: center;
    }
    &__menu {
      position: static;
      flex-direction: row;
      width: auto;
      &[data-toggle="true"],
      &[data-toggle="false"] {
        animation: none;
        opacity: 1;
      }
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
