---
import MainLayout from "../layouts/main-layout.astro";
import { ViewTransitions, fade } from "astro:transitions";
---

<head>
  <ViewTransitions />
</head>

<MainLayout>
  <div class="blog">
    <div class="blog__container">
      <h1 class="blog__title">recent blogs</h1>
      <ul class="blog__posts" transition:animate={fade({ duration: ".4s" })}>
        <li class="blog__posts__post">
          <a href="/posts/post-1/"
            >Exploring Neural Machine Translation with Fairseq and Transformers</a
          >
        </li>
        <li class="blog__posts__post">
          <a href="/posts/post-2/"
            >A Guide to Effective Tokenization in Natural Language Processing</a
          >
        </li>
        <li class="blog__posts__post">
          <a href="/posts/post-3/"
            >Segmentation Strategies in NLP: Breaking Down Language for Deeper
            Understanding</a>
        </li>
      </ul>
    </div>
  </div>
</MainLayout>
