body {
  background-color: var(--clr-neutral-300);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  display: grid;
  height: 100vh;
}

a {
  color: var(--clr-neutral-900);
}

h1 {
  font-size: var(--fs-xxxl);
  font-weight: var(--fw-bold);
}
h2 {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-bold);
}
h3 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
}
h4 {
  font-size: var(--fs-l);
  font-weight: var(--fw-semi-bold);
}

p {
  font-size: var(--fs-m);
  font-weight: var(--fw-regular);
}
