<div class="intro">
  <div class="intro--container">
    <h1 class="intro__h1 opacity-7">Amine Aliane</h1>
    <h4 class="intro__h2">
      <span class="text-primary-300">full stack</span> web dev / <span
        class="text-primary-300">python</span
      > dev
    </h4>
    <p class="intro__paragraph">
      Passionate about creating innovative web solutions. Bringing dedication
      and creativity to every project.
    </p>
  </div>
</div>
