---
import img from "../../public/img.jpg";
import Background from "./background.astro";
---

<div class="intro">
  <!-- Intro section -->
  <div class="intro--container">
    <!-- Container for the intro content -->
    <div class="intro__description">
      <h1 class="intro__h1 opacity-7">Amine Aliane</h1>
      <!-- Main heading with opacity class -->
      <h4 class="intro__h2">
        <!-- Subheading with a span for styling -->
        <span class="text-primary-300">full stack</span> web dev /
        <span class="text-primary-300">python</span> dev
      </h4>
      <!-- Paragraph with opacity class -->
      <p class="intro__paragraph opacity-7">
        <!-- Description paragraph -->
         Passionate about creating innovative web solutions. Bringing dedication
        and creativity to every project.
      </p>
    </div>
    <!-- SVG container (empty) -->
    <Background />
    <button class="btn pb-6">hire me</button>
  </div>
</div>

<script>
  // Reference to the existing div with class "rain"
  const existingRainDiv = document.querySelector(".rain--container");

  // Loop to append new div elements inside the existing div
  for (let i = 0; i <= 149; i++) {
    const newDiv = document.createElement("div");
    newDiv.className = "rain";
    existingRainDiv.appendChild(newDiv);
  }
</script>
