<div class="intro">
  <div class="intro--container">
    <h1 class="intro__h1 opacity-7">Amine Aliane</h1>
    <h4 class="intro__h2">
      <span class="text-primary-300">full stack</span> web dev / <span
        class="text-primary-300">python</span
      > dev
    </h4>
    <p class="intro__paragraph opacity-7">
      Passionate about creating innovative web solutions. Bringing dedication
      and creativity to every project.
    </p>
    <svg
      width="160"
      height="250"
      viewBox="0 0 235 356"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M37 21L22 39L5 87V151V227L22 295C22 295 28 311 37 346L89 355L209 247L230 156C239.6 81.5999 229.187 87 223 58C207 -16.9999 94.7931 -6.22867 37 21Z"
        stroke="black"></path>
      <path
        d="M104.873 137.738L96.5024 148.223L99.8681 161.211L167.898 163.446C154.136 147.424 120.147 139.632 104.873 137.738Z"
        stroke="black"></path>
      <path
        d="M46.5942 136.925L51.582 148.407L49.489 160.75L8.50752 153.641C16.8766 139.73 37.3858 136.701 46.5942 136.925Z"
        stroke="black"></path>
      <path d="M62 173C62 169 56 188.667 53 199L38 242L53 250H67" stroke="black"
      ></path>
      <path d="M41 263L83 268L104 277" stroke="black"></path>
      <ellipse cx="121" cy="151.5" rx="11" ry="10.5" fill="#4B4316"></ellipse>
      <ellipse cx="38" cy="148.5" rx="11" ry="10.5" fill="#4B4316"></ellipse>
      <path
        d="M98.9634 120.336L95.6443 136.107L149.549 137.089L188.902 142.815L154.964 127.439L98.9634 120.336Z"
        fill="black"
        stroke="black"></path>
      <path
        d="M60 122L64 135.52L25.3537 135.52L0.999997 141.683L23.2075 125.653L60 122Z"
        fill="black"
        stroke="black"></path>
      <path d="M94 124V98" stroke="black"></path>
      <path d="M98.5292 173.624L120.971 186.376" stroke="black"></path>
      <path d="M42.2769 174L17.261 179.644" stroke="black"></path>
    </svg>
  </div>
</div>
