---
import Logo from "./logo.astro";
import Toggle from "./toggle.jsx";
---

<nav class="nav">
  <div class="nav__container">
    <div class="logo">
      <Logo />
    </div>
    
    <Toggle client:load />
  </div>
</nav>
