---
import Nav from "../components/Nav.jsx";
import Footer from "../components/Footer.astro";
import { ViewTransitions, slide } from "astro:transitions";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Amine</title>
    <ViewTransitions />
  </head>
  <body>
    <Nav client:load />
    <main class="main" transition:animate={slide({ duration: ".3s" })}>
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>
