---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions, slide } from "astro:transitions";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
    <ViewTransitions />
  </head>
  <body>
    <Nav />
    <main class="main" transition:animate={slide({ duration: ".3s" })}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
